/*--------Generales*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    margin: 0%;
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000e1;
}

html {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive, sans-serif;
}
/*--------Logo*/
.contenedor-header {
    width: 100%;
}

/*--------Barra de navegacion*/

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #D36135; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 
.navbar {
    width: 100%;
    background-color: silver;
}

.navbar ul {
    padding: 2%;
    margin: 0%;
    margin-block-end: 0%;
    margin-block-start: 0%;
    padding-left: 1rem;
}

.navbar ul li {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding-left: 3px;
    padding-right: 4px;
    border-right: 1px solid lightgrey;
    font-size: smaller;
}
/*--------Banner y Titulo*/
.section-index {
    width: 100%;
    background-color: #0b152f;;
}

.banner-pagina {
    width: 100%;
}

.banner-pagina img {
    width: 100vw;
}

.footer-banner {
    width: 100%;
    height: auto;
    background-color: #080708;
    align-items: center;
    text-align: center;
}

.footer-banner span {
    color: whitesmoke;
}

.footer-banner p {
    color: whitesmoke;
}

.footer-banner span {
    font-weight: bold;
}

.footer-banner p {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}

.titulo-index {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 1rem;
}

.titulo-index-1 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-shadow: 0 0 20px #941818;
    transition: linear;
    transition-delay: 0.5s;
    transition-duration: 6s;
    padding-left: 45px;
    padding-top: 1rem;
    font-size: 2rem;
}

.contenedor-main {
    width: 100%;
}

/*--------Card de Productos*/

.contenedor-main, 
.main-productos {
    padding-top: 4rem;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(68,83,82,1) 100%);
}

.section-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-card {
    padding: 1.5rem;
}

.contenedor-carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    padding-left: 25%;
    padding-bottom: 1rem;
}

.cuerpo-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column-1 img {
    width: 100%;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 5px black);
}

.column-2 h2 {
    text-align: center;
    font-size: xx-large;
    margin-block-end: 0%;
    margin-block-start: 0%;
}

.column-2 p {
    text-align: center;
    font-size: smaller;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.column-1-derecha img {
    width: 100%;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 5px black);
    
}

.column-1-derecha {
    order: 2;
}

.boton-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------Asie-index*/

.banner-aside {
    width: 100%;
    padding-top: 1rem;
}

.banner-aside img {
    width: 100%;
}

.aside-texto {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.aside-texto h3 {
    font-size: x-large;
    text-decoration: underline;
    padding-right: 1rem;
}

.aside-texto p {
    font-size: small;
}
/*--------Nav-pages*/

.nav-pages {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.article-presentaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 1rem;
    
}

.card-1 img {
    padding-top: 15px;
    width: 70%;
    padding-left: 30%;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 5px silver);
}

.card-1 h4 {
    text-align: center;
}

.card-1 img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/*--------Footer*/

.col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    
}

.contenedor-footer {
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

.navbar-footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.navbar-footer ul li {
    padding-bottom: 6px;
    text-decoration: underline;
    padding-top: 1rem;
}

.redes-sociales-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales-footer ul li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.redes-sociales-footer ul,
.navbar-footer ul {
    padding: 0%;
}

.ubi-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.ubi-footer iframe {
    width: 80%;
    height: 60%;
}
/*----PRODUCTOS----*/

.main-productos {
    padding-top: 5rem;
}

.contenedor-principal-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    
}

.card {
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.card img {
    padding-top: 15px;
    width: 60%;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 5px silver);
}

.card h4,
.card h5 {
    padding-top: 5px;
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-size: smaller;
}

.card h5 {
    text-align: center;
    font-size: small;
}

.card span {
    font-size: x-small;
    font-style: italic;
}
/*----TABLAS DE TALLES, PRODUCTOS----*/

.tabla-de-talles {
    width: 100%;
}

.tabla-de-talles h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor-guia {
    width: 90%;
    margin: 0%;
    padding-left: 10%;
    padding-bottom: 1rem;
}

.tabla-guia {
    width: 90%;
    font-size: small;
}
/*----PAGINA "CONTACTO----*/

.caja-formulario {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja-formulario form {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 2rem;
}

input, textarea {
    width: 80%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 10px;
}

text {
    min-height: 50px;
    max-height: 100px;
    max-width: 80%;
}

.section-contacto {
    width: 320px;
    padding-top: 4rem;
}

.section-contacto div,
.tenda-contacto {
    width: 90%;
    padding-left: 1rem;
    font-size: small;
}

.main-devolucion {
    padding-top: 5rem;
}

.h3-contacto {
    text-align: center;
}

.container-fedex {
    justify-content: center;
    text-align: left;
    align-items: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.container-fedex img {
    width: 70%;
    padding-left: 30%;
    display: flex;
    justify-content: center;
}

/*----PAGINA "SALE"----*/

.titulo-sale {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: #941818;
    text-decoration: underline;
    width: 100%;
}

.devo-prueba img {
    width: auto;
    border-radius: 2rem;
    box-shadow: 0 0 10px black,
    0 0 15px black,
    0 0 20px white
    ;
}

.acol {
    display: flex;
}

.acol img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.section-contacto ul li {
    list-style-type: disc;
}
/*----MEDIA QUERIES----*/

@media screen and (min-width:480px) {
    /*----TABLAS DE TALLES, PRODUCTOS----*/
    .tabla-de-talles {
        width: 100%;
    }
    .contenedor-guia,
    .tabla-guia {
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    /*----PAGINA "CONTACTO----*/
    .caja-formulario {
        width: 100%;
        display: flex;

    }
    .caja-formulario form {
        width: 50vw;
    }

    .section-contacto {
        width: 100%;
    }
    .section-contacto div {
        width: 80%;
        padding-left: 2rem;
        font-size: medium;
    }
    /*----PAGINA "SALE"----*/
    .titulo-sale {
        width: 100%;
        margin-block-start: 0%;
    }
    /*--------FOOTER------*/
    footer {
        width: 100%;
    }
    .contenedor-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-footer,
    .redes-sociales-footer {
        display: inline-block;
    }
    .ubi-footer {
        display: none;
    }
    .navbar-footer ul li {
        font-size: medium;
}   
}


    
    

@media screen and (min-width:600px) {
    
    
    
    /*----productos----*/

    .contenedor-principal-card {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 12px;
    }

    .titulo-index {
        margin-block-end: 0%;
        margin-block-start: 0%;
        padding-bottom: 2rem;
    }

    .titulo-index h2 {
        font-size: 2rem;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    /*----TABLAS DE TALLES, PRODUCTOS----*/

    .tabla-de-talles {
        width: 100%;
    }
    .contenedor-guia,
    .tabla-guia {
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    /*----PAGINA "CONTACTO----*/
    .caja-formulario {
        width: 100%;
        display: flex;

    }
    .caja-formulario form {
        width: 50vw;
    }

    .section-contacto {
        width: 100%;
    }
    .section-contacto div {
        width: 80%;
        padding-left: 2rem;
        font-size: medium;
    }
    /*----PAGINA "SALE"----*/
    .titulo-sale {
        width: 100%;
        margin-block-start: 0%;
    }
}

@media screen and (min-width:768px) {
    main {
        padding-top: 4rem;
    }
    /*--------Banner y Aside*/
    .titulo-index {
        font-size: x-large;
    }
    aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-aside {
        width: 100%;
    }
    .banner-aside img {
        width: 100%;
        border-radius: 2rem;
    }
    .aside-texto {
        width: 100%;
        display: inline-block;
        padding-top: 3.5rem;
        justify-content: center;
        text-align: center;

    }
    .aside-texto h3 {
        font-size: 2rem;
    }
    .aside-texto p {
        font-size: medium;
    }
    .contenedor-principal-card {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }

    .titulo-index {
        margin-block-end: 0%;
        margin-block-start: 0%;
        padding-bottom: 2rem;
    }

    .titulo-index h2 {
        font-size: 3rem;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    .card img {
        width: 70%;
        border-radius: 2rem;
        filter: drop-shadow(5px 5px 5px black);
    }
    .card h4,
    .card h5,
    .card span {
        font-size: medium;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}   

    @media screen and (min-width:1024px) {
        .cuerpo-cards {
            display: inline-block;
            width: 33%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .contenedor-header {
            position: fixed;
            top: 0%;
            z-index: 10;
        }

        .banner-index {
            padding-top: 5rem;
        }
        .contenedor-header .logo img {
            width: 4rem;
        }
        /*--------LOGO-------*/
        .column-2 {
            display: block;
            justify-content: center;
            text-align: center;
        }
        .column-2 h2 {
            padding-top: 2rem;
        }
        .column-2 p {
            font-size: medium;
        }
        /*--------BANNER Y ASIDE-------*/
        .banner-aside {
            width: 100%;
            padding: 0%;
            padding-left: 2rem;
            padding-top: 3rem;
        }
        .banner-aside img {
            width: 90%;
            border-radius: 2rem;
        }
        .aside-texto {
            width: 100%;
            padding-top: 6rem;
        }
        .aside-texto h3 {
            font-size: 2rem;
        }
        .aside-texto p {
            font-size: medium;
        }
        /*--------PRODUCTOS-------*/
        .contenedor-principal-card {
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;
        }
        .card img {
            width: 50%;
            border-radius: 2rem;
            filter: drop-shadow(5px 5px 5px black);
        }
        .section-contacto div,
        .tienda-contacto,
        .caja-formulario {
            font-size: x-large;
        }
        
        
    }

    /*--------ANIMACIONES Y TRANSICIONES-------*/

    .titulo-index:hover {
        transition: .5s linear;
        text-decoration: none;
        color: #858786;
        text-shadow: 0 0 10px black,
        0 0 20px black,
        0 0 30px black
        ;
        font-size: xx-large;
    }

    h3:hover {
        transition: .5s linear;
        text-decoration: none;
        color: #858786;
        text-shadow: 0 0 10px black,
        0 0 20px black,
        0 0 30px black
        ;
        font-size: xx-large
    }


    .card img:hover {
        box-shadow: 5px 10px 20px silver;
        opacity: 95%;
    }

    .navbar ul li:hover {
        text-shadow: 0 0 5px #E1E5F2,
        0 0 10px #E1E5F2,
        0 0 15px #E1E5F2
        ;

    }

    .navbar-footer ul li:hover {
        text-decoration: none;
        color: white;
        text-shadow:0 0 5px black,
        0 0 10px black,
        0 0 15px black
        ; 
    }

    .redes-sociales-footer ul li img:hover {
        box-shadow: 0 0 10px black,
        0 0 20px black,
        0 0 30px black
        ;

        border-radius: 40%;
    }

