
.card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 50%;
        border-radius: 2rem;
        filter: drop-shadow(5px 5px 5px black);
}