
$background-color-primary: whitesmoke;
$ul-style: none;
$a-textdeco: none;
$a-color: #000000e1;
$html-fonts: 'Lato', sans-serif;
$h-fonts: 'Bebas Neue', cursive, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*----MIXING-----*/
@mixin flexible ($dis, $direction, $just, $align, $text){
    display: $dis;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;
    text-align: $text;
}
/*----MAPS----*/
$headings: (
h4: smaller,
h5: smaller,
h6: smaller 
);

/*----EXTEND----*/

@import 'varianteglobal';

/*----Ajustes globales----*/

body {
    box-sizing: border-box;
    margin: 0%;
    background-color: $background-color-primary;
}

ul {
    list-style-type: $ul-style;
}

a {
    text-decoration: $a-textdeco;
    color: $a-color;
}

html {
    font-family: $html-fonts;
}

h1, h2, h3 {
    font-family: $h-fonts;
}

/*----BARRA DE NAVEGACION (NO BOOTSTRAP)-------*/

@import 'navbar';

/*------CUERPO DE PAGINA MAIN-----*/
.contenedor-header {
    width: 100%;
}
.contenedor-main {

    width: 100%;
    padding-top: 4rem;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(68,83,82,1) 100%);
    
    .banner-pagina {
        width: 100%;
    
        img {
            width: 100vw;
        }
    }
    .footer-banner {
        width: 100%;
        height: auto;
        background-color: #080708;
        align-items: center;
        text-align: center;
    
        span {
            color: whitesmoke;
            font-weight: bold;
        }
    
        p {
            color: whitesmoke;
            font-weight: lighter;
            font-style: italic;
            font-size: small;
        }
    }
    
    .contenedor-carrusel {
        @include flexible(flex, column, center , center , center );
        width: 75%;
        padding-left: 25%;
        padding-bottom: 1rem;
    }

    .titulo-index-1 {
        display: flex;
        justify-content: center;
        color: whitesmoke;
        font-size: 2rem;
    }

    .section-index {
        width: 100%;
        background-color: #0b152f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-group {
            
            .contenedor-card {
                padding: 1.5rem;
            
                .ucard {
                    background-color: whitesmoke;
                    img {
                        border-radius: 10%;
                        width: 80%;
                        padding-left: 20%;
                        filter: drop-shadow(5px 5px 5px #3a3939);
                        &:hover {
                            transition: 0.5s;
                            transform: scale(1.1);
                        }
                    }
                    .card-body {
                        text-align: center;
                    }
                }
            }

        }

    }
     
    .titulo-index {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 1rem;

        &:hover {
            transition: .5s linear;
            text-decoration: none;
            color: #858786;
            text-shadow: 0 0 10px black,
            0 0 20px black,
            0 0 30px black
            ;
            font-size: xx-large;
        }
    }

    .article-presentaciones {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding-top: 1rem;
        
        .card-1 {
            img {
                padding-top: 15px;
                width: 70%;
                padding-left: 30%;
                border-radius: 2rem;
                filter: drop-shadow(5px 5px 5px silver);

                &:hover {
                    transition: 0.5s;
                    transform: scale(1.1);
                }
            }

            h4 {
                text-align: center;
            }
        }
    }

    .btn-flotante {
        font-size: 16px; 
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        border-radius: 5px; 
        letter-spacing: 2px;
        background-color: #D36135;
        padding: 18px 30px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    
        &:hover {
            background-color: #2c2fa5;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
            transform: translateY(-7px);
        }
    
        @media only screen and (max-width: 600px) {
            .btn-flotante {
               font-size: 14px;
               padding: 12px 20px;
               bottom: 20px;
               right: 20px;
           }
       } 
    }

    .nav-pages {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}


footer {
    width: 100%;
    
    .contenedor-footer {
        width: 100%;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    .navbar-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul li {
            padding-bottom: 6px;
            text-decoration: underline;
            padding-top: 1rem;

            &:hover {
                text-decoration: none;
                color: white;
                text-shadow:0 0 5px black,
                0 0 10px black,
                0 0 15px black
                ; 
            }
        }
    }

    .redes-sociales-footer {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            padding: 0%;
        }

        ul li {
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;

            img {
                &:hover {
                    box-shadow: 0 0 10px black,
                    0 0 20px black,
                    0 0 30px black
                    ;

                    border-radius: 40%;
                }
            }
        }
    }
}

/*--------------------PRODUCTOS-----------------------*/

.main-productos {
    padding-top: 5rem;

    .contenedor-carrusel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70%;
        padding-left: 30%;
        padding-bottom: 1rem;
    }

    .titulo-index {
        display: flex;
        justify-content: center;
        text-decoration: underline;
        padding-top: 1rem;
    }

    .contenedor-principal-card {
        width: 85%;
        padding-left: 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 35px;
    }

    .card {
        display:inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            padding-top: 15px;
            width: 60%;
            border-radius: 2rem;
            filter: drop-shadow(5px 5px 5px silver);

            &:hover {
                box-shadow: 5px 10px 20px silver;
                opacity: 95%;
            }
        }
        $h4: map-get($headings, h4);
        h4 {
            padding-top: 5px;
            margin-block-end: 0%;
            margin-block-start: 0%;
            font-size: $h4;
        }
        $h5: map-get($headings, h5);
        h5 {
            padding-top: 5px;
            margin-block-end: 0%;
            margin-block-start: 0%;
            font-size: $h5;
            text-align: center;
        }

        span {
            font-size: x-small;
            font-style: italic;
        }
    }
}

/*----TABLAS DE TALLES, PRODUCTOS----*/

.tabla-de-talles {
    width: 100%;

    h2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contenedor-guia {
        width: 90%;
        margin: 0%;
        padding-left: 10%;
        padding-bottom: 1rem;
    }

    .tabla-guia {
        width: 90%;
        font-size: small;
    }
}

/*----PAGINA "CONTACTO----*/

.caja-formulario {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    form {
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        margin-top: 10px;
        border-radius: 2rem;

        input, textarea {
            width: 80%;
            margin-bottom: 20px;
            padding: 7px;
            box-sizing: border-box;
            font-size: 10px;
        }

        text {
            min-height: 50px;
            max-height: 100px;
            max-width: 80%;
        }
    }
}

.main-devolucion {
    padding-top: 5rem;

    .section-contacto {
        width: 100%;
        padding-top: 4rem;
    
        div {
            width: 90%;
            padding-left: 1rem;
            font-size: small;
    
            ul li {
                list-style-type: disc;
            }
        }
    }
}

.container-fedex {
    justify-content: center;
    text-align: left;
    align-items: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

    img {
        width: 70%;
        padding-left: 30%;
        display: flex;
        justify-content: center;
    }
}

.btn-flotante {
    font-size: 16px; 
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px; 
    letter-spacing: 2px;
    background-color: #D36135;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;

    &:hover {
        background-color: #2c2fa5;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
    }

    @media only screen and (max-width: 600px) {
        .btn-flotante {
           font-size: 14px;
           padding: 12px 20px;
           bottom: 20px;
           right: 20px;
       }
   } 
}

/*----PAGINA "SALE"----*/

.main-devolucion {
    .titulo-sale {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        color: #941818;
        text-decoration: underline;
        width: 100%;
    }

    .card {
        display:inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            padding-top: 15px;
            width: 60%;
            border-radius: 2rem;
            filter: drop-shadow(5px 5px 5px silver);
        }

        h4 {
            padding-top: 5px;
            margin-block-end: 0%;
            margin-block-start: 0%;
            font-size: smaller;
        }

        h5 {
            padding-top: 5px;
            margin-block-end: 0%;
            margin-block-start: 0%;
            font-size: smaller;
            text-align: center;
        }

        span {
            font-size: x-small;
            font-style: italic;
        }
    }

    .btn-flotante {
        font-size: 16px; 
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        border-radius: 5px; 
        letter-spacing: 2px;
        background-color: #D36135;
        padding: 18px 30px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    
        &:hover {
            background-color: #2c2fa5;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
            transform: translateY(-7px);
        }
    
        @media only screen and (max-width: 600px) {
            .btn-flotante {
               font-size: 14px;
               padding: 12px 20px;
               bottom: 20px;
               right: 20px;
           }
       } 
    }
    .devo-prueba img {
        width: auto;
        border-radius: 2rem;
        box-shadow: 0 0 10px black,
        0 0 15px black,
        0 0 20px white
        ;
    }
    
    .acol {
        display: flex;
    
        img {
            width: 50%;
            display: flex;
            justify-content: center;
        }
    }
}

/*----MEDIA QUERIES----*/

@media screen and (min-width:480px) {
    /*----TABLAS DE TALLES, PRODUCTOS----*/
    .tabla-de-talles {
        width: 100%;
    }
    .contenedor-guia,
    .tabla-guia {
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    /*----PAGINA "CONTACTO----*/
    .caja-formulario {
        width: 100%;
        display: flex;

        form {
            width: 50vw;
        }

    }

    .section-contacto {
        width: 100%;

        div {
            width: 80%;
            padding-left: 2rem;
            font-size: medium;
        }
    }
    /*----PAGINA "SALE"----*/
    .titulo-sale {
        width: 100%;
        margin-block-start: 0%;
    }
    /*--------FOOTER------*/
    footer {
        width: 100%;
    }
    .contenedor-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-footer {
        display: inline-block;

        ul li {
            font-size: medium;
        }
    }
    .redes-sociales-footer {
        display: inline-block;
    }
}

@media screen and (min-width:600px) {

    /*----productos----*/

    .contenedor-principal-card {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 12px;
    }

    .titulo-index {
        margin-block-end: 0%;
        margin-block-start: 0%;
        padding-bottom: 2rem;

        h2 {
            font-size: 2rem;
            padding-bottom: 1%;
            padding-top: 1%;
        }
    }

    /*----TABLAS DE TALLES, PRODUCTOS----*/

    .tabla-de-talles {
        width: 100%;
    }
    .contenedor-guia,
    .tabla-guia {
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    /*----PAGINA "CONTACTO----*/
    .caja-formulario {
        width: 100%;
        display: flex;

        form {
            width: 50vw;
        }

    }

    .section-contacto {
        width: 100%;

        div {
            width: 80%;
            padding-left: 2rem;
            font-size: medium;
        }
    }
    /*----PAGINA "SALE"----*/
    .titulo-sale {
        width: 100%;
        margin-block-start: 0%;
    }
}

@media screen and (min-width:768px) {
    main {
        padding-top: 4rem;
    }
    /*--------Banner y Aside*/
    .titulo-index {
        font-size: x-large;
    }
    aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  
    .contenedor-principal-card {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }

    .titulo-index {
        margin-block-end: 0%;
        margin-block-start: 0%;
        padding-bottom: 2rem;

        h2 {
            font-size: 3rem;
            padding-bottom: 1%;
            padding-top: 1%;
        }
    }
    .card {
        img {
            width: 70%;
            border-radius: 2rem;
            filter: drop-shadow(5px 5px 5px black);
        }

        h4 {
            font-size: medium;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h5 {
            font-size: medium;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        span {
            font-size: medium;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

}   

@media screen and (min-width:1024px) {
    .cuerpo-cards {
        display: inline-block;
        width: 33%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contenedor-header {
        position: fixed;
        top: 0%;
        z-index: 10;
    }

    .banner-index {
        padding-top: 5rem;
    }
    .contenedor-header .logo img {
        width: 4rem;
    }
    /*--------LOGO-------*/
    .column-2 {
        display: block;
        justify-content: center;
        text-align: center;

        h2 {
            padding-top: 2rem;
        }

        p {
            font-size: medium;
        }
    }
    
    /*--------PRODUCTOS-------*/
    .contenedor-principal-card {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    .card img {
        width: 50%;
        border-radius: 2rem;
        filter: drop-shadow(5px 5px 5px black);
    }
    .section-contacto div,
    .tienda-contacto,
    .caja-formulario {
        font-size: x-large;
    }

    
}

@media screen and (min-width:1440px) {
    .cuerpo-cards {
        display: inline-block;
        width: 33%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contenedor-header {
        position: fixed;
        top: 0%;
        z-index: 10;
    }

    .banner-index {
        padding-top: 5rem;
    }
    .contenedor-header .logo img {
        width: 4rem;
    }

   
    /*--------PRODUCTOS-------*/
    .contenedor-principal-card {
        width: 100%;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(5, 1fr);
        gap: 2rem;
    }
    .card img {
        width: 50%;
        border-radius: 2rem;
        filter: drop-shadow(5px 5px 5px black);
    }
    .section-contacto div,
    .tienda-contacto,
    .caja-formulario {
        font-size: x-large;
    }
    
}

