
$background-color-primary: whitesmoke;
$ul-style: none;
$a-textdeco: none;
$a-color: #000000e1;
$html-fonts: 'Lato', sans-serif;
$h-fonts: 'Bebas Neue', cursive, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*----MIXING-----*/
@mixin flexible ($dis, $direction, $just, $align, $text){
    display: $dis;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;
    text-align: $text;
}
/*----MAPS----*/
$headings: (
h4: smaller,
h5: smaller,
h6: smaller 
);

/*----EXTEND----*/

@import 'varianteglobal';

/*----Ajustes globales----*/

@import 'ajustes-globales';

/*----BARRA DE NAVEGACION (NO BOOTSTRAP)-------*/

@import 'navbar';

/*------CUERPO DE PAGINA MAIN-----*/
@import 'main-index';

@import 'footer';

/*------CUERPO DE PAGINA PRODUCTO---------*/

@import 'main-productos';

/*----CUERPO DE PAGINA CONTACTO--*/

@import 'main-contacto';

/*----CUERPO DE PAGINA SALE---*/

@import 'main-sale';

/*----MEDIA QUERIES----*/

@import 'media-queries';
